* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #141922;
}
aside{
    background-color: black;
    height:100%;
    width: 10%;
}
#upgrade{
    font-size: .7rem;
    text-transform: uppercase;
    padding: .9rem;
    background-color: #080b12;
    color: white;
    border-color: white;
    border-radius: 20px;
}
.call-to-action{
    border: 1px solid white;
    padding: .8rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
}
#icons{
    display: flex;
    align-items: center;
    padding-bottom: .5rem;
    
}

.playlist-block {
    display: none;
}
.aside-li{
    padding: 1rem 0;
}
.id-txt-ico{
    display: none;
}

.libreria{
    display: none;
}

.aside-workspace{;
    height: 100%;
    width: 100%; 
    display: flex;  
    justify-content: space-between;
    flex-direction: column;
}
.aside-workspace ul {
    list-style-type: none;
    color: white;
    padding: .5rem;
}
.cta-boxes{
    width: 100%;
}
div.boxes-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    overflow-y: auto;
}
.sub{
    text-decoration: underline;
    text-decoration-color: #adff2f;
    
}
.list-title{
    display: flex;
}
.list-title ul  {
    width: 100%;
    justify-content: center;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 100;
    color: grey;
}
.list-title ul li{
    padding: 1.25rem;
}
#recent{
    padding: 2rem;
}
.boxes{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    width: 100%;
}
.box{
    text-align: center;
    flex-wrap: wrap;
    width: calc(100% / 2);
    padding: 1rem;
}
.box-img{
    width: 90%;
}
.footer-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
}
.player{
    display: flex;
    width: calc(50% / 2);
    height: 80px;
    background-color: #282828;
    display: flex;
}.playing{
    display: flex;
    width: 50%;
    height: 80px;
    background-color: #282828;
    flex-direction: column;
    justify-content: center;
}
.play-icon{
    color: white;
    margin: 0 auto;
    font-size: 1.4rem;
}
.footer-center-bd{
    display: flex;
    border: 1px solid grey;
    width: 80%;
    height: 10%;
    align-self: center;
    margin: 0 auto;
    justify-content: center;
    border-radius: 10%;
}
.footer-center-line{
    height: 2px;
    background-color: white;
    width: 30%;
    margin: 0%;
    display: flex;
    margin-right: auto;
}
.footer-center-line::before{
    content: '0:25';
}
.footer-center-line::after{
    content: '4:25';
    display: none;
}
.left{
    display: flex;
    padding: .5rem;
}
#sinister{
    height: 50%;
    display: flex;
    align-self: center;
}
#snstxt{
    text-align: center;
    justify-content: center;
    align-self: center;
    padding: .5rem;
    font-weight: lighter;
}
.grey-txt{
    color: #828282;
}
.icon-lf-player{
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    align-self: center;
}
.right{
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: .3rem;
    font-weight: lighter;
    justify-content: flex-end;
}
.audio{
    border: 1px solid grey;
    height: 3px;
    width: 80px;
    border-radius: 20%;
}
.audio-line{
    width: 50%;
    height: 100%;
    background-color: white;
}
#icon-inv{
    filter: invert(1);
}
.lower-boxes{
    display: none;
}
/* QUERIES */
@media  screen and (min-width: 576px){
    aside{
        width: 40%;
    }
    .aside-li{
        width: 2rem;
        padding: 1rem 0;
        display: flex;
        flex-direction: row;
    }
    #id-libreria{
        width: 150px;
        display:flex;
        padding-left: .5rem;
    }
    .id-txt-ico{
        padding-left: .5rem;
        display: flex;
        width: 100%;
    }
    #icons{
        color: grey;
    }
    #home{
        color: white;
    }
    .h3-playlist{
        display: inline-block;
    }
    .playlist-block{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }
    .list-playlist{
        display: flex;
        gap: .5rem;
        color: grey;
    }
    .hr-line{
        width: 50%;
        filter: opacity(.5);
    }
    .list-title ul  {
        width: 100%;
        justify-content: center;
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 100;
    }
    #sinister{
        height: 69%;
        display: flex;
        align-self: center;
    }
    .box3{
        text-align: center; 
        width: calc(100% / 2);
        padding: rem;
        flex-direction: row; 
        justify-content: center;
    }
    #img3{
        width: calc(100% / 2);
        border-radius: 50%;
    }
}
@media  screen and (min-width: 762px){
    aside{
        width: 20%;
    }
    .box{
        text-align: center;
        flex-wrap: wrap;
        width: calc(100% / 4);
        padding: 1rem;
    }
    .list-title ul  {
        width: 100%;
        justify-content: center;
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 100;
    }
    .box h2{
        font-size: 1.3rem;
    }
    .box p{
        font-size: .7rem;
    }
    .lower-boxes{
        display: flex;
        width: 100%;
        padding-bottom: 5rem;
    }
    #recent{
        font-size: 2.1rem;
    }
    .ascolti{
        color: grey;
        padding: 1rem;
    }
    .box2 h1{
        font-size: 1.5rem;
    }
    .box2{
        text-align: center;
        flex-wrap: wrap;
        width: calc(100% / 2);
        padding: rem;
        flex-direction: row;
    }
    .box2-flex{
        display: flex;
        width: 100%;
        gap: 1rem;
    }
}
@media  screen and (min-width: 992px){
    aside{
        width: 25%;
    }
    .box{
        text-align: center;
        flex-wrap: wrap;
        width: calc(100% / 6);
        padding: 1rem;
    }
    .box  h2{
        font-size: 1.5rem;
        font-weight: bold;
    }
    .box2{
        text-align: center;
        width: calc(100% / 2);
        flex-direction: row; 
    }


}